// COLORS
$primary: #3a519b;
$white: #ffffff;
$messageColor: #4267B2;


// SPACING
$base-padding: 5px;
$base-margin: 10px;

// BORDERS
$base-border-thickness: 1px;
$base-border-radius: 20px;

// FONTS
$font-size-sm: 10px;
$base-font-size: 16px;
$font-size-lg: 24px;
$font-size-xl: 36px;
$font-size-xxl: 48px;

